<!DOCTYPE html>
<html lang="en">

<head>
  <title>Roof: adoção de cachorros - Adapet</title>
  <%= stylesheet_link_tag 'application' %>
  <%=javascript_include_tag 'application'%>
</head>

<body>
	<div class="preloader">
		<img src="/loader.gif" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="/logo1.gif" width="30" data-active-url="/logo1.gif" alt=""></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left main-nav">
					<li><a href="adocao.html">ADOÇÃO</a></li>
					<li><a href="quemsomos.html">QUEM SOMOS</a></li>
					<li><a href="noticias.html">NOTÍCIAS</a></li>
					<li><a href="faq.html">FAQ</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="#" class="btn button_sliding">Vamos começar?</a></li>
					<li><a href="#" data-toggle="modal" data-target="#modal1">ENTRAR</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

  <div id="outer">
          <div id="home-top-video">
              <video autoplay loop muted >
                  <source src="/Dogs1.mp4" type="video/mp4">
              </video>
              <div id="home-text">
                      <h3>Take care of your body.</h3>
                      <h1>It's the only place you have to live.
                  <span class="typed-cursor">|</span></h1>
               </div>
               <div id="arrow">
                   <a href="#oquee"><img src="/arrow1.png" alt="" width="130" class="seta-baixo"></a>
                </div>
          </div>
      </div>

	<section id="oquee" class="section section-padded gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 text-center title line-vertical">
					<h1 style="padding-bottom:10px;">O que é o Roof?</h1>
					<h4 class="light muted lead" style="padding-bottom:0px;">O Roof é um site que oferece o serviço GRATUITO para que você adote o cachorro mais ideal para sua família. <br>
					Você não precisará ir em várias feiras de adoção até achar que encontrou o pet perfeito. O Roof facilita sua vida disponibilizando 5 opções de cachorros mais compatíveis com as características que você forneceu sobre os moradores da sua casa.<br>
					Nossa meta é aumentar o número de adoções bem-sucedidas e auxiliar a família nesse momento único! Estaremos aqui para que tudo saia o mais perfeito que conseguirmos!
					</h4>
				</div>
      	<div class="col-sm-3 padding-line">
		 			<h4>Frequently Asked</h4>
		 			<div class="hline"></div>
		 			<div style="padding-top:30px;">
		 			<p><a href="#">How cool is this theme?</a></p>
		 			<p><a href="#">Need a nice good-looking site?</a></p>
		 			<p><a href="#">Is this theme retina ready?</a></p>
		 			<p><a href="#">Which version of Font Awesome uses?</a></p>
		 			<p><a href="#">Free support is integrated?</a></p>
		 			</div>
		 		</div>
	 		</div>
		</div>
	</section>

	<section id="services" class="section section-padded">
		<div class="container">
			<div class="row text-center title"><h2>Como funciona?</h2></div>
	<!--      <h4 class="light text-center muted">We're a dream team!</h4>-->
			<div class="row services">
				<div class="col-md-4">
					<div class="service">
						<img src="/family1.jpg" class="circle" alt="" width="140">
						<h4>Perfil da Família</h4>
						<p>A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
            <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>
					</div>
				</div>
        <div class="col-md-4">
					<div class="service">
						<img src="/family.jpg" class="circle" alt="" width="140">
						<h4>Perfil do Cachorro</h4>
						<p>A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
            <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
            <img src="/family-dog.jpg" class="circle" alt="" width="140">
						<h4>MATCH!</h4>
						<p>A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
            <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>
          </div>
				</div>
			</div>
		</div>
	</section>

	<section id="dogs-bg" class="section section-padded">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Team</h2>
				<h4 class="light muted">We're a dream team!</h4>
			</div>
		</div>
	</section>


<!-- Use it -->
   <section id="useit" class="section section-padded-zero white-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 pull-right">
                    <img class="img-responsive " src="/historia-img.jpg" alt="">
                </div>
				<div class="col-sm-6">
                    <h3 style="text-align:center;">Full Responsive</h3>
					<div style="text-align:center;">
						Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit dolor greand fdanrh sdfs
					</div>
                    <p class="lead">
						In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
						Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur,
						uam non erat mirum sapientiae lorem cupido
						patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
					</p>
					<p>
					 	<a class="btn btn-embossed btn-primary" href="#" role="button">ADOTE!</a>
						 <a class="btn btn-embossed btn-info" href="#" role="button">Saiba mais</a>
					</p>
				</div>
            </div>
        </div>
    </section>


	<section class="section section-padded blue-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
						<i class="icon fa fa-twitter"></i>
						<h4 class="white light">To enjoy the glow of good health, you must exercise.</h4>
						<h4 class="light-white light">#health #training #exercise <span class="open-blink"></span></h4>
				</div>
			</div>
		</div>
	</section>

  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
					<div class="modal-entrar">
            <div class="row">
    				      <div class="col-sm-10 text-center">
                    <h3 class="white">Entrar</h3>
                  </div>
                  <div class="col-sm-2 text-center">
                    <a href="#" data-dismiss="modal"><button class="zoom">X</button></a>
                  </div>
          </div>
        </div>
				<form action="" class="popup-form">
					<input type="text" class="form-control form-white" placeholder="E-mail">
	         <input type="text" class="form-control form-white" placeholder="Senha">
          <div class="esquerda"><a class="esqueci-senha"><strong>Esqueceu sua senha?</strong></a></div>
					<button type="submit" class="btn btn-submit">Entrar</button>
				</form>
			</div>
		</div>
	</div>

	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>

</body>

</html>
